.home {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), url('../public/images/landing.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.glass-container {
  background: rgba(0, 0, 0, 0.4); /* Black background with 80% opacity */
  backdrop-filter: blur(4px); /* Adjust the blur amount as needed */
}
